/* swap chat to left side in theatre mode */

.persistent-player--theatre {
  inset-inline-start: auto !important;
  inset-inline-end: 0 !important;
}

.right-column--theatre {
  right: auto !important;
  left: 0 !important;
}
